@page
@model SMS.Hoang_Hieu_Hao.Pages.Managers.EditManagerModel
@{
}
<h3>@ViewData["Title"]</h3>
<hr />
<div class="row shadow">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Managers.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewInfor.Name" class="control-label"></label>
                <input asp-for="NewInfor.Name" class="form-control" />
                <span asp-validation-for="NewInfor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewInfor.Email" class="control-label"></label>
                <input asp-for="NewInfor.Email" class="form-control" />
                <span asp-validation-for="NewInfor.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewInfor.Address" class="control-label"></label>
                <input asp-for="NewInfor.Address" class="form-control" />
                <span asp-validation-for="NewInfor.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewInfor.Username" class="control-label"></label>
                <input asp-for="NewInfor.Username" class="form-control" />
                <span asp-validation-for="NewInfor.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewInfor.Password" class="control-label"></label>
                <input asp-for="NewInfor.Password" class="form-control" />
                <span asp-validation-for="NewInfor.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
